
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field *ngIf="!isLoading">
        <input matInput name="email" ngModel type="email" name="email"  placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required>
        <mat-error *ngIf="passwordInput.invalid">Password required!</mat-error>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-form-field>
    </form>
</mat-card>
